
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-image:url(img/background.gif) ;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100px auto ;
    grid-template-rows: 100px auto 20px;
}

.headerBar {
    color: rgba(255, 255, 255, 0.699);
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(15, 15, 15, 0.712);
}

h1 {
    padding-left: 20px;
}

.footerBar {
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgba(255, 255, 255, 0.699);
    background-color: rgba(15, 15, 15, 0.712);
}

.footerBar p {
    margin-top: 2px;
    float: right;
}

.leftMenu {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(65, 61, 61, 0.712);
}



.flex-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.flex-item {
    color: white;
    width: 140px;
    height: 140px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgba(61, 58, 58, 0.822);
}

@media screen and (max-width: 300px) {
    .leftMenu {
      display: none;
    }
    .content {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}